{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Receitas especiais
                    
                </h1>
                <p>Se delicie com nossas receitas especias, temos uma grande variedade de receitas para todos os tipos de pratos</p>
            </div>
        </div>
        	{% for rec in receitas %}
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="{{rec.imagem}}" alt="">
                </a>
                <h3>
                    <a href="{% url 'receitadet' pk=rec.pk %}">{{rec.nomeprato}} </a>
                </h3>
                <p>{{rec.ingredientes}}.</p>
                <a id="link_excluir" href="{% url 'receita_excluir' pk=rec.pk%}">EXCLUIR</a>
                
            </article>
            {% endfor %}
            
 {% endblock content %}     
 
